<div class="home-container">
    <div class="kakao-head">
        <h3 class="title">같지만 다른 은행<br>카카오뱅크</h3>
        <ul class="store-list">
            <li>
                <a href="#">
                    <span class="play-store"></span>
                    <span class="text">Google Play</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="app-store"></span>
                    <span class="text">App Store</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="kakao-content-1">
        <div class="content-img">
            <img src="assets/imgs/home_phone_1.png" alt="phone1">
        </div>
        <div class="content-text">
            <h3>
                모바일로 더 손쉬운<br> 계좌개설, 간편한 이체
            </h3>
            <p>
                공인인증서, OTP 없이 계좌 개설이 간편합니다.<br> 여러 건의 이체도 몇 번의 터치로 손쉽게 보낼 수 있습니다.
            </p>
        </div>
    </div>
    <div class="kakao-content-2">
        <div class="content-text">
            <h3>
                간편 해외송금,<br> 파격적인 수수료
            </h3>
            <p>
                미국 유럽을 포함하여 총 22개국에<br> 국내 최저 수준의 수수료로<br> 해외송금이 가능합니다.
            </p>
        </div>
        <div class="content-img">
            <img src="assets/imgs/home_phone_2.png" alt="phone2">
        </div>
    </div>
    <div class="kakao-content-3">
        <div class="content-img">
            <img src="assets/imgs/home_phone_3.png" alt="phone3">
        </div>
        <div class="content-text">
            <h3>
                우대조건 없이<br> 합리적인 예금과 적금
            </h3>
            <p>
                기대했던 금리와 다르게 복잡한 우대조건에 실망한 적이 있었나요?<br> 카카오뱅크의 예금, 적금은 숨겨진 우대조건 없이 누구에게나 편리하고 합리적입니다.
                <br>
                <img src="assets/imgs/home_money.png" alt="적은 큼액부터 큰 금액까지, 짧은 기간부터 긴 기간까지, 누구에게나 합리적인">
            </p>
        </div>
    </div>
    <div class="kakao-content-4">
        <div class="content-text">
            <h3>
                서류 제출 없는 대출, 내가 원하는 시간에
            </h3>
            <p>
                급할 땐 언제라도 휴대폰 본인 인증으로 비상금을 충전할 수 있습니다.
            </p>
        </div>
        <div class="content-img">
            <img src="assets/imgs/home_phone_4.png" alt="phone4">
        </div>
    </div>
    <div class="kakao-content-5">
        <div class="content-text">
            <h3>
                프렌즈 체크카드,<br> 내가 고르는 선택의 즐거움
            </h3>
            <p>
                프렌즈 디자인부터 멋스러운 블랙 컬러 카드까지 원하는 디자인과 기능을 선택할 수 있습니다.
            </p>
        </div>
        <div class="slide-container">

        </div>
    </div>
    <div class="kakao-content-6">
    </div>
    <footer class="kakao-footer">

    </footer>
</div>



<!-- basic usage -->
<!-- <div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
            <div class="item item1">Item 1</div>
            <div class="item item2">Item 2</div>
            <div class="item item3">Item 3</div>
            <div class="item item4">Item 4</div>
            <div class="item5">Item 5 (will not be animated)</div>
        </div> -->