<div class="home-container">
    <div class="kakao-head">
        <h3 class="title">같지만 다른 은행<br>카카오뱅크</h3>
        <ul class="store-list">
            <li>
                <a href="#">
                    <span class="play-store"></span> Google Play
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="app-store"></span> App Store
                </a>
            </li>
        </ul>
    </div>
    <div class="kakao-content-1">

    </div>
    <div class="kakao-content-2">
    </div>
    <div class="kakao-content-3">
    </div>
    <div class="kakao-content-4">
    </div>
    <div class="kakao-content-5">
    </div>
    <div class="kakao-content-6">
    </div>
    <footer class="kakao-footer">

    </footer>
</div>



<!-- basic usage -->
<!-- <div class="itemset" ngsRevealSet [ngsSelector]="'.item'">
            <div class="item item1">Item 1</div>
            <div class="item item2">Item 2</div>
            <div class="item item3">Item 3</div>
            <div class="item item4">Item 4</div>
            <div class="item5">Item 5 (will not be animated)</div>
        </div> -->